/*Main style*/
body {
        background-color: white;
        font-family: "Arvo", sans-serif;
        color: #1b0109;
        text-align: center;
    }

/* Media queries -- For small screen sizes below 600px width */    

/*Header*/    

h1 {
    font-size: 2rem;
    color: #3B0918;
}

/*Logo in header*/

.logo {
    color: #B8390E;
    font-size: 2rem;
    margin-bottom: 3%;
}

.logo:hover {

    font-size: 3rem;
}

/*Gaming zone*/
 img {
    width: 100%;
    display: none;        
}

#questions {
    font-size: 1.5rem; 
    font-family: Roboto, sans-serif;  
}

/*style for buttons*/

#blueanswer > i, #redanswer > i, #yellowanswer > i, #greenanswer > i {
    font-size: 2rem;
}

#blueanswer, #redanswer, #yellowanswer, #greenanswer {
    padding: 3%;    
    margin: 1.5%; 
    border-color: #B8390E;
    border-radius: 50%;  
}

#blueanswer > i:hover, #redanswer > i:hover, #yellowanswer > i:hover, #greenanswer > i:hover  {    
    transform: scale(1.2);    
}

#blue {
    color: rgb(2, 165, 230);    
}

#yellow {
    color: rgba(248, 152, 9, 0.877);
}

#green {
    color: rgb(5, 248, 57);
}

#red{
    color: red;
}

#finish {
    display: none;
    color:#3B0918;
    margin: 5%;
    float: right;


}

/* Media queries -- For medium screen sizes between 700px and 1024px width */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    h1 {
        font-size: 2.7rem;
    }

    .logo {
        font-size: 2.7rem;
    }

    .logo:hover {

        font-size: 3.7rem;
    }

    #rooms-images {
        margin: auto 15%;
    }  
}

/* Media queries -- For big screen sizes bigger than 1440px width */

@media screen and (min-width: 1025) {
    h1 {
        font-size: 4rem;
    }

    .logo {
        font-size: 4rem;      
    }
    
    .logo:hover {
        font-size: 5rem;
    }

    #rooms-images {
        margin: auto 25%;
    }  

    #blueanswer > i, #redanswer > i, #yellowanswer > i, #greenanswer > i {
        font-size: 3rem;
    }

    #blueanswer, #redanswer, #yellowanswer, #greenanswer {
        padding: 2%;
}
}