/*Main style*/
body {

        background-color: white;
        font-family: "Arvo", sans-serif;
        color: #1a242c;
        text-align: center;

    }

h1 {

    font-size: 2rem;

}

#rooms-images img {
    width: 100%;
       
}